@charset "utf-8";
@import url(./noto-sans-korean.css);

/* Reset */
*{outline:0 !important; -webkit-text-size-adjust:none;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0; padding:0;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-user-select:none; user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{width:100%; background: #F5F7FA; min-width:320px; -webkit-text-size-adjust:none; word-wrap:break-word; word-break:break-all;}
body,input,select,textarea,button {border:none; font-size:12px; font-family:"Noto Sans KR", sans-serif; color:#424952;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0; border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal; font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
caption,legend{line-height:0; font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000; text-decoration:none;}

/* websquare reset */
.w2group {background-color:transparent;}
.w2tb .w2tb_th, .w2tb .w2tb_td {border:1px solid #E8EFF5;}
 
/* initForm */
textarea { border:1px solid #dbdbdb;}
select { height:32px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; border-radius: 5px;}
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; text-indent:20px; border-radius: 5px; transition: all 0.5s; vertical-align:middle;}
input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea { padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly], 
input[type=search][readonly], 
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{background:#eaeaea; border-color:#c0c0c0; color:#666; -webkit-appearance:none; font-size:12px;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea; border:1px solid #c0c0c0;}

.clear {clear:both;}
.clear:after {content:""; display:block; clear:both;}
.hide{display: none !important;}
.show{display: block !important;}
.txt_red{color:red;}
.lta{float: left; vertical-align: middle;}
.rta{float: right; vertical-align: middle;}

h1,h2,h3,span,label,div,input,a{letter-spacing: -0.02em;}

/* Main To-Do layout */
html,body,.wrapper,.container,.container_inner,.bottomMenu,.navbox{overflow: hidden;}
.wrapper{display: flex; flex-direction: column; min-width: 360px;}
.header{padding: 15px 16px; position: relative;}
.header .titlebar{display: inline; height: 56px;}
.header .titlebar h2.title{display: inline-block; font-weight: 800; color: #202020; font-size: 17px; vertical-align: middle;}
.header .titlebar em{font-weight: 500; color: #8996A3; font-size: 13px; padding-left: 8px; vertical-align: middle;}
.header .cta{text-align: center;}
.header .btn_menu{display: block; height: 24px; width: 24px; background: url(./../images/ico_menu.svg); position: absolute; top: 16px; right: 16px;}

.container{display: block; height: calc( 100vh - 127px); overflow-y: auto; -webkit-overflow-scrolling: touch;}
.container .container_inner{padding: 0 16px 16px 16px;}
.filterbox{ border-top: 1px solid #DAE3ED;}
.filterbox .fboxgroup{display: inline-block; width: 100%; margin-top: 16px; min-width: 315px;}
.filterbox .fboxgroup:first-child{margin-bottom: -4px;}
.filterbox .fboxgroup span{font-weight:300; font-size: 13px; color: #56606B; line-height: 26px;}
.filterbox .fboxgroup .btn_df{ height: 27px; margin-left: 6px; background-color: transparent; border: 1px solid #BEC9D4; box-sizing: border-box; border-radius: 5px; font-size: 13px; font-weight: 500; color: #8996A3; padding: 0 8px; cursor: default;}
.filterbox .fboxgroup .btn_df.on{background-color: #fff; color: #7B558D; border: 1px solid #8D669F;}
.filterbox .fboxgroup .btn_df:first-child{margin-left: 0px;}

.container .container_inner section{margin-top: 12px;}
.ctbox{background: #fff; border-radius: 3px; margin-top: 8px; padding: 12px;}
.ctbox:first-child{margin-top: 0px;}
.ctbox .stbox{width: 100%; height: 20px;}
.ctbox .stbox .rta:last-child{margin-right: 0px;}
.badge_gray,.badge_red,.badge_blue,.badge_green{display: inline-block; font-size: 12px; font-weight: 500; letter-spacing: -0.02em; padding: 1px 4px; border-radius: 2px; margin-right: 4px;}
.badge_gray{color: #424952; background: #E8EFF5;}
.badge_red{color: #603973; background: #EEE5F2;}
.badge_blue{color: #425FA3; background: #DEE6FB;}
.badge_green{color: #139989; background: #E0FCF9;}
.period{font-size: 12px; font-weight: 300; color: #6B7682; line-height: 20px;}
.period.red{color: #F94B50;}
.ctbox .ifbox{width: 100%; height: 18px; margin-top: 5px;}
.ctbox .ifbox *{display: inline-block; vertical-align: middle;}
.ctbox .ifbox .bar{background: #BEC9D4; height: 11px; width: 1px; margin: 4px 8px 3px 8px;}
.ctbox .ifbox label{font-weight: 300; font-size: 12px; color: #8996A3;}
.ctbox .ifbox span{font-weight: 300; font-size: 12px; color: #424952; margin-left: 3px;}
.ctbox .psbox{border: 1px solid #DAE3ED; background: #fff; border-radius: 2px; margin-top: 12px; height: 32px;}
.ctbox .psbox .ct_text{display: inline-block; font-weight: 500; color: #373D45; font-size: 12px; line-height: 32px; margin-left: 8px; width: calc(100% - 80px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.ctbox .psbox .process{display: inline-block; position: relative; font-weight: 500; color: #8996A3; width: 40px; line-height: 32px; margin-right: 8px;}
.ctbox .psbox .process::after{content: ''; display: block; position: absolute; top: 7px; right: 0; height: 18px; width: 18px; background-image: url(./../images/ico_arrow_right.svg);}

.bottomMenu{position: fixed; bottom: 0; width: 100%; min-width: 360px; height: 72px; background: #fff; border-top: 1px solid #DAE3ED; box-sizing: border-box;}
.bottomMenu .navbox{display: flex; flex-direction: row; justify-content: space-around;}
.bottomMenu .navbox .menu01,.bottomMenu .navbox .menu02,.bottomMenu .navbox .menu03,.bottomMenu .navbox .menu04,.bottomMenu .navbox .menu05{position: relative; width: 72px; height: 64px; background-position: center 14px; background-repeat: no-repeat;}
.navbox .title{position: absolute; top: 42px; width: 100%; text-align: center; color: #424952; font-weight: normal; font-size: 11px;}
.navbox .on .title{color: #425FA3; font-weight: 500;}
.navbox .numberbox{position: absolute; top: 22px; left: 39px; background: #F94B50; border: 1px solid #FFFFFF; border-radius: 5px; text-align: center; color: #fff; font-weight: 400; font-size: 10px; padding: 0px 3.5px 1px 3px;}
.navbox .numberbox .num{line-height: 14px; letter-spacing: initial;}
.menu01{background: url(./../images/ico_01_todo.svg);}
.menu02{background: url(./../images/ico_02_search.svg);}
.menu03{background: url(./../images/ico_03_filesearch.svg);}
.menu04{background: url(./../images/ico_04_area.svg);}
.menu05{background: url(./../images/ico_05_alarm.svg);}
.menu01.on{background: url(./../images/ico_01_todo_on.svg);}
.menu02.on{background: url(./../images/ico_02_search_on.svg);}
.menu03.on{background: url(./../images/ico_03_filesearch_on.svg);}
.menu04.on{background: url(./../images/ico_04_area_on.svg);}
.menu05.on{background: url(./../images/ico_05_alarm_on.svg);}

